<div class="col-4">
    <img src="../<%= params[0].client_profile_path %>" alt="profile picture" class="profile_image">
    <h3 class="text-center"><%= params[0].client_username %></h3>
    <div class="list-group">
        <a href="/myportal" class="list-group-item list-group-item-action">My portal</a>
        <a href="/account" class="list-group-item list-group-item-action active">Account Settings</a>
        <a href="/projects" class="list-group-item list-group-item-action">My projects</a>
        <a href="/social" class="list-group-item list-group-item-action">Social projects</a>
        <a href="/logout" class="list-group-item list-group-item-action">Log out</a>
    </div>
</div>