<!-- Modal -->
<div class="modal fade" id="editPost-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header bg-dark">
            <img src="images/logo.png" style="width:150px;" alt="aftergarden logo">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col" id="message_step2">
                    <h2>Edit your Post</h2>
                    <p id="err_step1" class="text-danger"></p>
                    <hr>
                    <form ref='uploadForm' id='uploadForm' method='post' action="/regPost"
                        encType="multipart/form-data">
                        <!-- upload an image -->
                        <div class="form-group">
                            <label for="sampleFile">Change picture</label>
                            <input type="file" name="sampleFile" class="form-control" id="sampleFile"
                                aria-describedby="emailHelp" required>
                        </div>
                        <!-- Add a comment -->
                        <div class="form-group">
                            <label for="post_description">Change Comments</label>
                            <textarea class="form-control" id="post-description" name="post_description" aria-describedby="emailHelp" required></textarea>
                        </div>
                        <div class="d-flex justify-content-end">
                            <input type="hidden" name="project_id" value="<%= info[0].project_id %>">
                            <button type="submit" class="btn btn-success" value="Post!">POST!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>