 <!-- Modal -->
 <div class="modal fade" id="create_project" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header bg-dark">
         <img src="images/logo.png" style="width:150px;" alt="aftergarden logo">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <div class="row">
           <div class="col-sm-12 col-md-6" id="message_step2">
             <h2>Create a project - Step 1</h2>
             <p id="err_step1" class="text-danger"></p>
             <hr>
             <form>
               <div class="form-group">
                 <label for="project_name">Name your project and share it with friends.</label>
                 <input type="text" class="form-control" id="project_name" aria-describedby="emailHelp"
                   placeholder="Name of your project" required>
               </div>
               <div class="form-group">
                 <label for="project_description">What do you want to do?. Tell everyone about your project.</label>
                 <textarea class="form-control" id="project_description" aria-describedby="emailHelp"
                   placeholder="Write a description of your project" required></textarea>
               </div>
               <div class="d-flex justify-content-end">
                 <a class="btn btn-success text-light" id="submit_step1">Next</a>
               </div>
             </form>
           </div>
           <div class="col-sm-12 col-md-6">
             <div class="image-container">
               <img src="images/step1.jpg" style="width:100%;" alt="login image">
               <div class="login-image-title">
               <img src="images/share.png" style="width:100px;" alt="share icon">
               <h2 >SHARE!</h2>
              </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>