.modal-dialog {
    max-width:900px !important;
}
.image-container{
    position:relative;
}
.login-image-title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding:30px;
    border:5px solid white;
    text-align: center;
    color:whitesmoke;
}
.modal-content .modal-header {
    padding-top: 0px;
    padding-bottom: 0px;
}
.wrapper-hero {
    height:100vh;
    background-image: url("../images/hero-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-content {
    background-color: #0000005e;
    padding:30px 70px;
}
.hero-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size:60px;
    font-weight: bold;
    text-align: center;
}
.white {
    color:white;
}
.green {
    color:#aef4ae;
}
.btn {
    margin:5px;
}
.button-container {
    display:flex;
    justify-content: center;
}

/*  Portal style  */
.portal-bg {
    background-image: url("../images/portal-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:300px;
}
.portal-title {
    padding-top:80px;
}
.profile_image {
    width:200px;
    border-radius: 50%;
    border:3px solid black;
    display:block;
    margin: 30px auto;
}