<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="wrapper-hero d-flex justify-content-center align-items-center">
      <div class="hero-content justify-content-center">
        <!--LOGO-->
        <img src="images/leaves.png" style="width:200px; display:block; margin:auto;" alt="logo">
        <h1 class="hero-title" ><span class="green">afteR</span><span class="white">Garden</span></h1>
        <p class="hero-text text-light text-center">"make a project, make a change"</p>
        <!-- Button trigger Register -->
        <div class="button-container">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Register</button>
        <%- include('../partials/register-modal'); %>

        <!-- Button trigger Register -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-login">Log
          In</button>
        <%- include('../partials/login-modal'); %>
      </div>
      </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>
<footer style="position: absolute;bottom: 10px;;">
  <%- include('../partials/footer'); %>
</footer>

</html>