<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <h1>Portal page</h1>
  <ul>
    <li>link dropdown list con: settings, create a project, logout</li>
    <li>Blog del projecto</li>
    <li>Insertar una foto</li>
    <li>Insertar un comentario</li>
    <li>Avance del projecto</li>
    <li>reviews del project</li>
  </ul>
  <!-- Button trigger Create a project -->
  <div class="button-container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create_project">Create a project</button>
    <%- include('../partials/project-modal'); %>


    <!-- upload an image -->
    <form ref='uploadForm' 
      id='uploadForm' 
      action='/upload' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form>     

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>
<footer>
  <%- include('../partials/footer'); %>
</footer>

</html>